<!DOCTYPE html>
<html>

<head>
    <title>Message Transmission</title>
</head>

<body>
    <div style="max-width: 1024px;">
        <table>
        {{ range .Keys }}
            <td><a href={{.}}>{{.}}</a></td>
        {{ end }}
        </table>
        <form method="post">
            <textarea type="text" name="message">{{ .Message }}</textarea>
            <div style="text-align: center;">
                <button type="submit" formaction=".">Submit</button>
                <div class="tooltip">
                    <span class="tooltiptext" id="tooltip">Copy to clipboard</span>
                    <button onclick="copyText('message')" onmouseout="resetTooltip()" formaction="javascript:void(0)">
                        Copy
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>

<style>
    textarea[type=text] {
        width: 90%;
        padding: 1em;
        margin: auto;
        display: block;
        font-size: 1.5em;
        height: 7.5em;
    }

    div {
        margin: auto;
    }

    button {
        font-size: 1.5em;
        margin: 1em;
        cursor: pointer;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 85%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 0.75;
    }

    td {
        max-width: 25em;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>

<script>
    function copyText(name) {
        var area = document.getElementsByName(name)[0];
        if (area !== undefined) {
            area.select();
            area.setSelectionRange(0, 99999);
            document.execCommand("copy");

            var tooltip = document.getElementById("tooltip");
            tooltip.innerHTML = "Copied: " + area.value;
        }
    }

    function resetTooltip() {
        var tooltip = document.getElementById("tooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>

</html>